body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image:  url(welcome5.jpg);
    height:100%;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width:600px;
    background: transparent;
    border:none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
} 
 input{
    height: 45px;
 }

 form .submit
 {
    background: #f76809;
    border-color: transparent;
    color:rgb(223, 214, 200);
    font-size: 20px;
    font-weight:bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

}
form .submit:hover{
    background-color: #ee4f30;
    cursor: pointer;

}